body {

    color: white;
    background-color: #405c97;
}

h4 {

    background-color:dodgerblue;
    width: 700px;
    height: 25px;
    border-radius: 5px;
}

h1 {

    background-color:rgb(202, 6, 48);
    border-radius: 5px;
    width: 850px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

p {

    font-family: cursive;
    font-size: 20px;
}

span {

    font-size: 20px;
    font-family: cursive;
}